image: "spritecloud/ruby-selenium-runner:2.4"

services:
  - selenium/standalone-chrome:3.10.0

before_script:
- bundle install #Install the required gems
- export SELENIUM_URL="http://selenium__standalone-chrome:4444/wd/hub/"

app-demo-profile:
  script:
  - bundle exec cucumber PROFILE_ID=13 -p app_calliope_import
  when: manual

app-test-demo-profile:
  script:
  - bundle exec cucumber PROFILE_ID=13 -p app_test_calliope_import
  when: manual
